/* CORE STYLES */
h1 {
    color:rgb(220, 137, 25);
    padding-top: 10px;
}
body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #333;
    color: #fff;
    font-size: 1.1em;
    line-height: 1.5;
    text-align: center;
}
a {
    text-decoration: none;
    color:rgb(220, 137, 25);
}

/* CSS Grid attempt */
#tttGrid {
    display: grid;
    grid-template-columns: repeat(3, 24vw);
    grid-template-rows: repeat(3, 24vw);  
    justify-content: center;
    position: relative;
}
#tttGrid>div {
    border: solid white 1px;
    background-color: rgb(122, 155, 182);
    font-size: 24vw;
    cursor: pointer;
}

#tttGrid>div>span {
    line-height: 20vw;
}

/* MENU GRID */
#menu-grid{
    background-color: steelblue;
    display: inline-grid ;
    grid-template-columns: repeat(2, 36vw);
    justify-content: center;  
    
}
#message, #option1, #option2, #reset{
    margin: 0;
    padding: 0.5em 0;
}
#option1, #option2 {
    border-top: dotted white 1px;
    border-bottom: dotted white 1px;
}
#option1 {
    border-left: solid white 1px;
}
#option2 {
    border-right: solid white 1px;
}
#option1:hover, #option2:hover {
    background-color: rgb(92, 91, 91);
    cursor: pointer;
}
#message, #reset{
    grid-column: 1/ span 2;
    border: solid white ; 
    border-width: 0px 1px ;
}
#reset{
    border-bottom: solid white 1px;
}
#reset:hover {
    background-color: rgb(212, 136, 136);
    cursor: pointer;
}

.invisible-text{
    color: transparent;
}

/* FOOTER */
footer{
    padding: 5vh 5vh;
}

/* CSS QUERIES */
@media (min-width: 450px) {
    #tttGrid {
        grid-template-columns: repeat(3, 108px);
        grid-template-rows: repeat(3, 108px) ;    
    }
    #tttGrid>div {
        font-size: 108px;
    }
    #tttGrid>div>span {
        line-height: 90px;
        }
    #menu-grid{
        grid-template-columns: repeat(2, 162px);
    }
}